doctype html
head
  meta(charset='utf-8')
  title DSM Player
  meta(name='description', content='The HTML5 Audio Player')
  meta(name='author', content='Zoran Velickovic')
  // jQuery lib
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  // this need to include in head if you already included jQuery, otherwise include jQuery too
  script(src='https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.0/rangeslider.min.js')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.0/rangeslider.min.css')
  link(rel='stylesheet', href='dsm_css/dsm-style.css')
  link(rel="icon" type="image/gif/png" href="dsm_img/logo.png")
  //if lt IE 9
    script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')

